@import "tailwindcss";

@theme {
  --font-sans: 'Inter Variable', sans-serif;

  /* colors */

  --color-body: #fafaf8;
  --color-header: #ffffff;
}

.textbox {
  @apply bg-white p-2 border-black/20 border-1 rounded-lg;
}

.button {
  @apply bg-black text-white py-2 px-10 rounded-lg;
}